{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
<div class="alert alert-success" role="alert">
 Item was added successfully!
</div>
{%else%}
{%endif%}

    
<h2>Create a listing</h2>

    

        
        <div class="form-group">

                        <form action = "{% url 'create' user.username %}" method="POST">
                {%csrf_token%}
                    <div class = "col-md-4 mb-3">     
                    <label> Title: </label><input type = "text" class="form-control" name = "Title"></div> 
                <div class="col-md-4 mb-3">
                    <label>Choose a category:</label>
                    <select name="category" class = "form-control">
                        {% for categories in category %}
                    <option  value="{{categories}}">{{categories}}</option>
                        {%endfor%}
                </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Bid:</label><input class="form-control" type = "number" name = "Bid"></div>
                    <div class="col-md-10 mb-3">
                        <label>Description:</label><textarea class="form-control"  id="exampleFormControlTextarea1" name = "Description"></textarea></div>
                        <div class="col-md-4 mb-3">
                            <label> Url(optional):</label><input class="form-control" type = "url" name="image"></div>
                            <div class="col-md-4 mb-3">
                                <input class="btn btn-info" type="submit"></div>
            </form>
    
                       
    
               
         
            </div>
                     
        </div>
        
        
    
    {% endblock %}
