{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
    <h2>Watchlist</h2>
    {%elif category%}
    <h2>Category</h2>
    <ul>
        {% for categories in category%}
        <li><a href="{% url 'cate' categories%}">{{categories}}</a></li>
        {%endfor%}
    </ul>
    {%elif shit%}
    <h2>{{shit}}</h2>
    {%else%}
    <h2>Active Listings</h2>
    {%endif%}
    

    

    
    <div class="container">

    
        <div class="row" >
    
        {% for items in auction %}
                       
    
            <div class="col" style="text-align: center;">
    
    
    
        <img src="{{items.image}}" width ="350" height="300" alt = "tutti">
       
                
          <h6 style="text-align: center;"><a href="{% url 'listings' items.id  %}"> {{items.title}} </a></h6>  
          <p style="text-align: center;">{{items.des}}<br>
            
            {% if items.bids.bid == 0 %}
            ${{items.bids.start}}
            {%else%}
            ${{items.bids.bid}}
            {%endif%}
         </p>
          
                </div>
        {% endfor %}               
        </div>
        
        </div>
    {{item}}
    {% endblock %}