{% extends "auctions/layout.html" %}
{% block body %}
{% if error %}
<div class="alert alert-danger" role="alert">
    Please try again !
   </div>
{%else%}
{%endif%}
{%if success %}
<div class="alert alert-success" role="alert">
    Added bid successfully!
   </div>
{%else%}
{%endif%}

<div style="text-align: center;">
    <img src="{{auction.image}}" width ="50%" height="50%" >
    
</div>
<h6 style="text-align: center;">{{auction.title}}</h6>
<p style="text-align:center ;">{{auction.des}}
category:{{auction.category}}
</p>
<div style="font-weight: bold ; font-size: 1.5cm;">
    ${{auction.bids}}.0
created by : {{auction.created}}
 
</div>
<form action="{% url 'listings' auction.id %}" method="POST">
    {% csrf_token %}
    <input type= "number" name = "biddingss">
    
</form>
{{usery}}


<form action="{% url 'watch' auction.id user.username %}" method="POST" >
   
    {% csrf_token %}
    {% if user.username in list %}
    
    <input type= "submit" value="remove from watchlist">    
    {% else %}
    <input type= "submit" value="add to watchlist">    

    {% endif %}
</form>

<form action="{% url 'close' auction.id %}" method="POST">
    {% csrf_token %}
    {% if user.username == auction.created.username %}
    <input type="submit" value="Close the auction">
    {% else %}
    <input type="submit" value="open the auction">

    {% endif %}


</form>

<h3>Comment section:</h3>
{% for comment in comments%}
<br>{{comment}}
{%endfor%}
<div class = "form-group">
    
<form action="" method="POST">
    {{user.username}}:<br> <textarea  name="comment" rows="8" cols="100"> </textarea>


</form>
</div>
{%endblock%}